:root {
  --primary-color: #ef403d;
  --secondary-color: #f5f2fe;
  --box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
}

body {
  margin: 100px auto;
  max-width: 800px;
}

h1,
h2,
h3 {
  text-align: center;
  margin: 0;
}

h1 {
  font-size: 96px;
}

h2 {
  font-size: 48px;
}

h3 {
  font-size: 24px;
  opacity: 0.7;
}

p {
  font-size: 18px;
  line-height: 1;
  text-align: center;
  width: 100%;
  display: inline-block;
}

.navigation-links {
  display: flex;
  margin-top: 40px;
  justify-content: center;
  gap: 20px;
  text-transform: capitalize;
}

.navigation-links a {
  margin: 20px;
  border-radius: 5px;
  padding: 10px 5px;
  text-decoration: none;
  text-transform: capitalize;
}
.contact {
  background-color: var(--primary-color);
  box-shadow: var(--box-shadow);
  color: white;
  border: 1em;
}

.about {
  color: var(--primary-color);
  border: 1px solid var(--primary-color);
}

.homepage-link {
  color: var(--primary-color);
  text-align: center;
  display: block;
}

.about-paragraphs {
  display: flex;
  margin: 30px 0;
}
.about-paragraph {
  flex-grow: 1;
}

.about-paragraphs p {
  margin: 10px;
}

.email-link {
  display: flex;
  justify-content: center;
  color: var(--primary-color);
  font-size: 28px;
  text-decoration: none;
}

.email-link:hover {
  text-decoration: underline;
}
.images {
  max-width: 350px;
  margin: 40px;
}

.primary-link {
  border-radius: 4px;
  padding: 20px 15px;
  text-decoration: none;
  text-transform: capitalize;
  background: var(--primary-color);
  box-shadow: var(--box-shadow);
  color: white;
}

.contact-me {
  padding-top: 20px;
}
